<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
	<div layout:fragment="contents" class="text-center">
		<img src="https://images.innisfree.co.kr/kr/ko/resources/event/greenTeaProbiotics/w/images/bg1_in.jpg">
		<br/><br/>
			<button type="button" class="btn btn-primary" onclick="window.open('/eventPopup','신청','width=570,height=380,location=no,status=no,scrollbars=yes');">GREEN TEA PROBIOTICS 신청
			</button>
		<br/><br/>
		<!-- 
	    <div class="sidebar-sticky">
	       <ul class="nav flex-column" th:each="event: ${eventList}">
	         <li class="nav-item">
	            <a class="nav-link active" th:text="${event.evtNm}">
	           </a>
	         </li>
	       </ul>
	    </div>
		-->
	</div>
</html>


