 .badge-outline {
     border: 1px solid
}

.reviewPointM {
	display: inline-block;
    width: 98px;
    height: 20px;
    background: url(../img/reviewPoint.png) no-repeat 0 -100px;
}

 .reviewPointM > span {
    display: inline-block;
    height: 100%;
    background: url(../img/reviewPoint.png) no-repeat 0 -120px;
}
